<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.GoodsOrderDAO">

    <insert id="save" parameterType="goodsOrderDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
        insert into t_goods_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
				user_id,
			</if>
			<if test="orderNo != null">
				order_no,
			</if>
			<if test="totalAmount != null">
				total_amount,
			</if>
			<if test="payAmount != null">
				pay_amount,
			</if>
			<if test="discountAmount != null">
				discount_amount,
			</if>
			<if test="integralAmount != null">
				integral_amount,
			</if>
			<if test="expressFee != null">
				express_fee,
			</if>
			<if test="orderStatus != null">
				order_status,
			</if>
			<if test="payTime != null">
				pay_time,
			</if>
			<if test="payType != null">
				pay_type,
			</if>
			<if test="transactionNo != null">
				transaction_no,
			</if>
			<if test="paySuccess != null">
				pay_success,
			</if>
			<if test="deliverTime != null">
				deliver_time,
			</if>
			<if test="dealTime != null">
				deal_time,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
				#{userId},
			</if>
			<if test="orderNo != null">
				#{orderNo},
			</if>
			<if test="totalAmount != null">
				#{totalAmount},
			</if>
			<if test="payAmount != null">
				#{payAmount},
			</if>
			<if test="discountAmount != null">
				#{discountAmount},
			</if>
			<if test="integralAmount != null">
				#{integralAmount},
			</if>
			<if test="expressFee != null">
				#{expressFee},
			</if>
			<if test="orderStatus != null">
				#{orderStatus},
			</if>
			<if test="payTime != null">
				#{payTime},
			</if>
			<if test="payType != null">
				#{payType},
			</if>
			<if test="transactionNo != null">
				#{transactionNo},
			</if>
			<if test="paySuccess != null">
				#{paySuccess},
			</if>
			<if test="deliverTime != null">
				#{deliverTime},
			</if>
			<if test="dealTime != null">
				#{dealTime},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="isActive != null">
				#{isActive},
			</if>
			
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
    	<foreach collection="list" item="item" separator=";">
            insert into t_goods_order
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.userId != null">
				user_id,
			</if>
			<if test="item.orderNo != null">
				order_no,
			</if>
			<if test="item.totalAmount != null">
				total_amount,
			</if>
			<if test="item.payAmount != null">
				pay_amount,
			</if>
			<if test="item.discountAmount != null">
				discount_amount,
			</if>
			<if test="item.integralAmount != null">
				integral_amount,
			</if>
			<if test="item.expressFee != null">
				express_fee,
			</if>
			<if test="item.orderStatus != null">
				order_status,
			</if>
			<if test="item.payTime != null">
				pay_time,
			</if>
			<if test="item.payType != null">
				pay_type,
			</if>
			<if test="item.transactionNo != null">
				transaction_no,
			</if>
			<if test="item.paySuccess != null">
				pay_success,
			</if>
			<if test="item.deliverTime != null">
				deliver_time,
			</if>
			<if test="item.dealTime != null">
				deal_time,
			</if>
			<if test="item.version != null">
				version,
			</if>
			<if test="item.createTime != null">
				create_time,
			</if>
			<if test="item.updateTime != null">
				update_time,
			</if>
			<if test="item.isActive != null">
				is_active,
			</if>
			
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.userId != null">
				#{item.userId},
			</if>
			<if test="item.orderNo != null">
				#{item.orderNo},
			</if>
			<if test="item.totalAmount != null">
				#{item.totalAmount},
			</if>
			<if test="item.payAmount != null">
				#{item.payAmount},
			</if>
			<if test="item.discountAmount != null">
				#{item.discountAmount},
			</if>
			<if test="item.integralAmount != null">
				#{item.integralAmount},
			</if>
			<if test="item.expressFee != null">
				#{item.expressFee},
			</if>
			<if test="item.orderStatus != null">
				#{item.orderStatus},
			</if>
			<if test="item.payTime != null">
				#{item.payTime},
			</if>
			<if test="item.payType != null">
				#{item.payType},
			</if>
			<if test="item.transactionNo != null">
				#{item.transactionNo},
			</if>
			<if test="item.paySuccess != null">
				#{item.paySuccess},
			</if>
			<if test="item.deliverTime != null">
				#{item.deliverTime},
			</if>
			<if test="item.dealTime != null">
				#{item.dealTime},
			</if>
			<if test="item.version != null">
				#{item.version},
			</if>
			<if test="item.createTime != null">
				#{item.createTime},
			</if>
			<if test="item.updateTime != null">
				#{item.updateTime},
			</if>
			<if test="item.isActive != null">
				#{item.isActive},
			</if>
			
            </trim>
        </foreach>
    </insert>

    <delete id="removeById" parameterType="long">
        delete from t_goods_order where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_goods_order where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="goodsOrderDO">
        update t_goods_order
        <set>
            <if test="userId != null">
				user_id = #{userId},
			</if>
			<if test="orderNo != null">
				order_no = #{orderNo},
			</if>
			<if test="totalAmount != null">
				total_amount = #{totalAmount},
			</if>
			<if test="payAmount != null">
				pay_amount = #{payAmount},
			</if>
			<if test="discountAmount != null">
				discount_amount = #{discountAmount},
			</if>
			<if test="integralAmount != null">
				integral_amount = #{integralAmount},
			</if>
			<if test="expressFee != null">
				express_fee = #{expressFee},
			</if>
			<if test="orderStatus != null">
				order_status = #{orderStatus},
			</if>
			<if test="payTime != null">
				pay_time = #{payTime},
			</if>
			<if test="payType != null">
				pay_type = #{payType},
			</if>
			<if test="transactionNo != null">
				transaction_no = #{transactionNo},
			</if>
			<if test="paySuccess != null">
				pay_success = #{paySuccess},
			</if>
			<if test="deliverTime != null">
				deliver_time = #{deliverTime},
			</if>
			<if test="dealTime != null">
				deal_time = #{dealTime},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id} and version + 1 <![CDATA[<=]]> #{version}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";">
            update t_goods_order
            <set>
                <if test="item.userId != null">
				user_id = #{item.userId},
			</if>
			<if test="item.orderNo != null">
				order_no = #{item.orderNo},
			</if>
			<if test="item.totalAmount != null">
				total_amount = #{item.totalAmount},
			</if>
			<if test="item.payAmount != null">
				pay_amount = #{item.payAmount},
			</if>
			<if test="item.discountAmount != null">
				discount_amount = #{item.discountAmount},
			</if>
			<if test="item.integralAmount != null">
				integral_amount = #{item.integralAmount},
			</if>
			<if test="item.expressFee != null">
				express_fee = #{item.expressFee},
			</if>
			<if test="item.orderStatus != null">
				order_status = #{item.orderStatus},
			</if>
			<if test="item.payTime != null">
				pay_time = #{item.payTime},
			</if>
			<if test="item.payType != null">
				pay_type = #{item.payType},
			</if>
			<if test="item.transactionNo != null">
				transaction_no = #{item.transactionNo},
			</if>
			<if test="item.paySuccess != null">
				pay_success = #{item.paySuccess},
			</if>
			<if test="item.deliverTime != null">
				deliver_time = #{item.deliverTime},
			</if>
			<if test="item.dealTime != null">
				deal_time = #{item.dealTime},
			</if>
			<if test="item.version != null">
				version = #{item.version},
			</if>
			<if test="item.createTime != null">
				create_time = #{item.createTime},
			</if>
			<if test="item.updateTime != null">
				update_time = #{item.updateTime},
			</if>
			<if test="item.isActive != null">
				is_active = #{item.isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
                <if test="item.version == null">
                    version = version + 1,
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, user_id as userId, order_no as orderNo, total_amount as totalAmount, pay_amount as payAmount, discount_amount as discountAmount, integral_amount as integralAmount, express_fee as expressFee, order_status as orderStatus, pay_time as payTime, pay_type as payType, transaction_no as transactionNo, pay_success as paySuccess, deliver_time as deliverTime, deal_time as dealTime, version as version, create_time as createTime, update_time as updateTime, is_active as isActive
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			and id = #{query.id}
		</if>
		<if test="query != null and query.idMin != null and query.idMax == null">
			and id <![CDATA[ >= ]]> #{query.idMin}
		</if>
		<if test="query != null and query.idMin == null and query.idMax != null">
			and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.idMin != null and query.idMax != null">
			and id <![CDATA[ >= ]]> #{query.idMin} and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.userId != null">
			and user_id = #{query.userId}
		</if>
		<if test="query != null and query.userIdMin != null and query.userIdMax == null">
			and user_id <![CDATA[ >= ]]> #{query.userIdMin}
		</if>
		<if test="query != null and query.userIdMin == null and query.userIdMax != null">
			and user_id <![CDATA[ <= ]]> #{query.userIdMax}
		</if>
		<if test="query != null and query.userIdMin != null and query.userIdMax != null">
			and user_id <![CDATA[ >= ]]> #{query.userIdMin} and user_id <![CDATA[ <= ]]> #{query.userIdMax}
		</if>
		<if test="query != null and query.orderNo != null and query.orderNo != ''">
			and order_no like concat('%', #{query.orderNo}, '%')
		</if>
		<if test="query != null and query.totalAmount != null">
			and total_amount = #{query.totalAmount}
		</if>
		<if test="query != null and query.totalAmountMin != null and query.totalAmountMax == null">
			and total_amount <![CDATA[ >= ]]> #{query.totalAmountMin}
		</if>
		<if test="query != null and query.totalAmountMin == null and query.totalAmountMax != null">
			and total_amount <![CDATA[ <= ]]> #{query.totalAmountMax}
		</if>
		<if test="query != null and query.totalAmountMin != null and query.totalAmountMax != null">
			and total_amount <![CDATA[ >= ]]> #{query.totalAmountMin} and total_amount <![CDATA[ <= ]]> #{query.totalAmountMax}
		</if>
		<if test="query != null and query.payAmount != null">
			and pay_amount = #{query.payAmount}
		</if>
		<if test="query != null and query.payAmountMin != null and query.payAmountMax == null">
			and pay_amount <![CDATA[ >= ]]> #{query.payAmountMin}
		</if>
		<if test="query != null and query.payAmountMin == null and query.payAmountMax != null">
			and pay_amount <![CDATA[ <= ]]> #{query.payAmountMax}
		</if>
		<if test="query != null and query.payAmountMin != null and query.payAmountMax != null">
			and pay_amount <![CDATA[ >= ]]> #{query.payAmountMin} and pay_amount <![CDATA[ <= ]]> #{query.payAmountMax}
		</if>
		<if test="query != null and query.discountAmount != null">
			and discount_amount = #{query.discountAmount}
		</if>
		<if test="query != null and query.discountAmountMin != null and query.discountAmountMax == null">
			and discount_amount <![CDATA[ >= ]]> #{query.discountAmountMin}
		</if>
		<if test="query != null and query.discountAmountMin == null and query.discountAmountMax != null">
			and discount_amount <![CDATA[ <= ]]> #{query.discountAmountMax}
		</if>
		<if test="query != null and query.discountAmountMin != null and query.discountAmountMax != null">
			and discount_amount <![CDATA[ >= ]]> #{query.discountAmountMin} and discount_amount <![CDATA[ <= ]]> #{query.discountAmountMax}
		</if>
		<if test="query != null and query.integralAmount != null">
			and integral_amount = #{query.integralAmount}
		</if>
		<if test="query != null and query.integralAmountMin != null and query.integralAmountMax == null">
			and integral_amount <![CDATA[ >= ]]> #{query.integralAmountMin}
		</if>
		<if test="query != null and query.integralAmountMin == null and query.integralAmountMax != null">
			and integral_amount <![CDATA[ <= ]]> #{query.integralAmountMax}
		</if>
		<if test="query != null and query.integralAmountMin != null and query.integralAmountMax != null">
			and integral_amount <![CDATA[ >= ]]> #{query.integralAmountMin} and integral_amount <![CDATA[ <= ]]> #{query.integralAmountMax}
		</if>
		<if test="query != null and query.expressFee != null">
			and express_fee = #{query.expressFee}
		</if>
		<if test="query != null and query.expressFeeMin != null and query.expressFeeMax == null">
			and express_fee <![CDATA[ >= ]]> #{query.expressFeeMin}
		</if>
		<if test="query != null and query.expressFeeMin == null and query.expressFeeMax != null">
			and express_fee <![CDATA[ <= ]]> #{query.expressFeeMax}
		</if>
		<if test="query != null and query.expressFeeMin != null and query.expressFeeMax != null">
			and express_fee <![CDATA[ >= ]]> #{query.expressFeeMin} and express_fee <![CDATA[ <= ]]> #{query.expressFeeMax}
		</if>
		<if test="query != null and query.orderStatus != null">
			and order_status = #{query.orderStatus}
		</if>
		<if test="query != null and query.orderStatusMin != null and query.orderStatusMax == null">
			and order_status <![CDATA[ >= ]]> #{query.orderStatusMin}
		</if>
		<if test="query != null and query.orderStatusMin == null and query.orderStatusMax != null">
			and order_status <![CDATA[ <= ]]> #{query.orderStatusMax}
		</if>
		<if test="query != null and query.orderStatusMin != null and query.orderStatusMax != null">
			and order_status <![CDATA[ >= ]]> #{query.orderStatusMin} and order_status <![CDATA[ <= ]]> #{query.orderStatusMax}
		</if>
		<if test="query != null and query.payTime != null">
			and pay_time = #{query.payTime}
		</if>
		<if test="query != null and query.payTimeMin != null and query.payTimeMax == null">
			and pay_time <![CDATA[ >= ]]> #{query.payTimeMin}
		</if>
		<if test="query != null and query.payTimeMin == null and query.payTimeMax != null">
			and pay_time <![CDATA[ <= ]]> #{query.payTimeMax}
		</if>
		<if test="query != null and query.payTimeMin != null and query.payTimeMax != null">
			and pay_time <![CDATA[ >= ]]> #{query.payTimeMin} and pay_time <![CDATA[ <= ]]> #{query.payTimeMax}
		</if>
		<if test="query != null and query.payType != null">
			and pay_type = #{query.payType}
		</if>
		<if test="query != null and query.payTypeMin != null and query.payTypeMax == null">
			and pay_type <![CDATA[ >= ]]> #{query.payTypeMin}
		</if>
		<if test="query != null and query.payTypeMin == null and query.payTypeMax != null">
			and pay_type <![CDATA[ <= ]]> #{query.payTypeMax}
		</if>
		<if test="query != null and query.payTypeMin != null and query.payTypeMax != null">
			and pay_type <![CDATA[ >= ]]> #{query.payTypeMin} and pay_type <![CDATA[ <= ]]> #{query.payTypeMax}
		</if>
		<if test="query != null and query.transactionNo != null and query.transactionNo != ''">
			and transaction_no like concat('%', #{query.transactionNo}, '%')
		</if>
		<if test="query != null and query.paySuccess != null">
			and pay_success = #{query.paySuccess}
		</if>
		<if test="query != null and query.paySuccessMin != null and query.paySuccessMax == null">
			and pay_success <![CDATA[ >= ]]> #{query.paySuccessMin}
		</if>
		<if test="query != null and query.paySuccessMin == null and query.paySuccessMax != null">
			and pay_success <![CDATA[ <= ]]> #{query.paySuccessMax}
		</if>
		<if test="query != null and query.paySuccessMin != null and query.paySuccessMax != null">
			and pay_success <![CDATA[ >= ]]> #{query.paySuccessMin} and pay_success <![CDATA[ <= ]]> #{query.paySuccessMax}
		</if>
		<if test="query != null and query.deliverTime != null">
			and deliver_time = #{query.deliverTime}
		</if>
		<if test="query != null and query.deliverTimeMin != null and query.deliverTimeMax == null">
			and deliver_time <![CDATA[ >= ]]> #{query.deliverTimeMin}
		</if>
		<if test="query != null and query.deliverTimeMin == null and query.deliverTimeMax != null">
			and deliver_time <![CDATA[ <= ]]> #{query.deliverTimeMax}
		</if>
		<if test="query != null and query.deliverTimeMin != null and query.deliverTimeMax != null">
			and deliver_time <![CDATA[ >= ]]> #{query.deliverTimeMin} and deliver_time <![CDATA[ <= ]]> #{query.deliverTimeMax}
		</if>
		<if test="query != null and query.dealTime != null">
			and deal_time = #{query.dealTime}
		</if>
		<if test="query != null and query.dealTimeMin != null and query.dealTimeMax == null">
			and deal_time <![CDATA[ >= ]]> #{query.dealTimeMin}
		</if>
		<if test="query != null and query.dealTimeMin == null and query.dealTimeMax != null">
			and deal_time <![CDATA[ <= ]]> #{query.dealTimeMax}
		</if>
		<if test="query != null and query.dealTimeMin != null and query.dealTimeMax != null">
			and deal_time <![CDATA[ >= ]]> #{query.dealTimeMin} and deal_time <![CDATA[ <= ]]> #{query.dealTimeMax}
		</if>
		<if test="query != null and query.version != null">
			and version = #{query.version}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax == null">
			and version <![CDATA[ >= ]]> #{query.versionMin}
		</if>
		<if test="query != null and query.versionMin == null and query.versionMax != null">
			and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax != null">
			and version <![CDATA[ >= ]]> #{query.versionMin} and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin}
		</if>
		<if test="query != null and query.createTimeMin == null and query.createTimeMax != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin} and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin}
		</if>
		<if test="query != null and query.updateTimeMin == null and query.updateTimeMax != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin} and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.isActive != null">
			and is_active = #{query.isActive}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax == null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin}
		</if>
		<if test="query != null and query.isActiveMin == null and query.isActiveMax != null">
			and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax != null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin} and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="goodsOrderDO">
        select
        <include refid="select_columns"/>
        from t_goods_order where id = #{id}
    </select>

    <select id="getVersionById" parameterType="long" resultType="integer">
        select version from t_goods_order where id = #{id}
    </select>

    <select id="listAll" resultType="goodsOrderDO">
        select
        <include refid="select_columns"/>
        from t_goods_order
        order by update_time desc, create_time desc
    </select>

    <select id="listAllByCondition" resultType="goodsOrderDO">
        select
        <include refid="select_columns"/>
        from t_goods_order
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
             ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
    </select>

    <select id="listPageByCondition" resultType="goodsOrderDO">
        select
        <include refid="select_columns"/>
        from t_goods_order
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_goods_order
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
