<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.GoodsSkuDAO">

    <insert id="save" parameterType="goodsSkuDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
        insert into t_goods_sku
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
				goods_id,
			</if>
			<if test="picId != null">
				pic_id,
			</if>
			<if test="shelfStatus != null">
				shelf_status,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">
				#{goodsId},
			</if>
			<if test="picId != null">
				#{picId},
			</if>
			<if test="shelfStatus != null">
				#{shelfStatus},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="isActive != null">
				#{isActive},
			</if>
			
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
    	<foreach collection="list" item="item" separator=";">
            insert into t_goods_sku
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.goodsId != null">
				goods_id,
			</if>
			<if test="item.picId != null">
				pic_id,
			</if>
			<if test="item.shelfStatus != null">
				shelf_status,
			</if>
			<if test="item.version != null">
				version,
			</if>
			<if test="item.createTime != null">
				create_time,
			</if>
			<if test="item.updateTime != null">
				update_time,
			</if>
			<if test="item.isActive != null">
				is_active,
			</if>
			
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.goodsId != null">
				#{item.goodsId},
			</if>
			<if test="item.picId != null">
				#{item.picId},
			</if>
			<if test="item.shelfStatus != null">
				#{item.shelfStatus},
			</if>
			<if test="item.version != null">
				#{item.version},
			</if>
			<if test="item.createTime != null">
				#{item.createTime},
			</if>
			<if test="item.updateTime != null">
				#{item.updateTime},
			</if>
			<if test="item.isActive != null">
				#{item.isActive},
			</if>
			
            </trim>
        </foreach>
    </insert>

    <delete id="removeById" parameterType="long">
        delete from t_goods_sku where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_goods_sku where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="goodsSkuDO">
        update t_goods_sku
        <set>
            <if test="goodsId != null">
				goods_id = #{goodsId},
			</if>
			<if test="picId != null">
				pic_id = #{picId},
			</if>
			<if test="shelfStatus != null">
				shelf_status = #{shelfStatus},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id} and version + 1 <![CDATA[<=]]> #{version}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";">
            update t_goods_sku
            <set>
                <if test="item.goodsId != null">
				goods_id = #{item.goodsId},
			</if>
			<if test="item.picId != null">
				pic_id = #{item.picId},
			</if>
			<if test="item.shelfStatus != null">
				shelf_status = #{item.shelfStatus},
			</if>
			<if test="item.version != null">
				version = #{item.version},
			</if>
			<if test="item.createTime != null">
				create_time = #{item.createTime},
			</if>
			<if test="item.updateTime != null">
				update_time = #{item.updateTime},
			</if>
			<if test="item.isActive != null">
				is_active = #{item.isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
                <if test="item.version == null">
                    version = version + 1,
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, goods_id as goodsId, pic_id as picId, shelf_status as shelfStatus, version as version, create_time as createTime, update_time as updateTime, is_active as isActive
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			and id = #{query.id}
		</if>
		<if test="query != null and query.idMin != null and query.idMax == null">
			and id <![CDATA[ >= ]]> #{query.idMin}
		</if>
		<if test="query != null and query.idMin == null and query.idMax != null">
			and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.idMin != null and query.idMax != null">
			and id <![CDATA[ >= ]]> #{query.idMin} and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.goodsId != null">
			and goods_id = #{query.goodsId}
		</if>
		<if test="query != null and query.goodsIdMin != null and query.goodsIdMax == null">
			and goods_id <![CDATA[ >= ]]> #{query.goodsIdMin}
		</if>
		<if test="query != null and query.goodsIdMin == null and query.goodsIdMax != null">
			and goods_id <![CDATA[ <= ]]> #{query.goodsIdMax}
		</if>
		<if test="query != null and query.goodsIdMin != null and query.goodsIdMax != null">
			and goods_id <![CDATA[ >= ]]> #{query.goodsIdMin} and goods_id <![CDATA[ <= ]]> #{query.goodsIdMax}
		</if>
		<if test="query != null and query.picId != null">
			and pic_id = #{query.picId}
		</if>
		<if test="query != null and query.picIdMin != null and query.picIdMax == null">
			and pic_id <![CDATA[ >= ]]> #{query.picIdMin}
		</if>
		<if test="query != null and query.picIdMin == null and query.picIdMax != null">
			and pic_id <![CDATA[ <= ]]> #{query.picIdMax}
		</if>
		<if test="query != null and query.picIdMin != null and query.picIdMax != null">
			and pic_id <![CDATA[ >= ]]> #{query.picIdMin} and pic_id <![CDATA[ <= ]]> #{query.picIdMax}
		</if>
		<if test="query != null and query.shelfStatus != null">
			and shelf_status = #{query.shelfStatus}
		</if>
		<if test="query != null and query.shelfStatusMin != null and query.shelfStatusMax == null">
			and shelf_status <![CDATA[ >= ]]> #{query.shelfStatusMin}
		</if>
		<if test="query != null and query.shelfStatusMin == null and query.shelfStatusMax != null">
			and shelf_status <![CDATA[ <= ]]> #{query.shelfStatusMax}
		</if>
		<if test="query != null and query.shelfStatusMin != null and query.shelfStatusMax != null">
			and shelf_status <![CDATA[ >= ]]> #{query.shelfStatusMin} and shelf_status <![CDATA[ <= ]]> #{query.shelfStatusMax}
		</if>
		<if test="query != null and query.version != null">
			and version = #{query.version}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax == null">
			and version <![CDATA[ >= ]]> #{query.versionMin}
		</if>
		<if test="query != null and query.versionMin == null and query.versionMax != null">
			and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax != null">
			and version <![CDATA[ >= ]]> #{query.versionMin} and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin}
		</if>
		<if test="query != null and query.createTimeMin == null and query.createTimeMax != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin} and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin}
		</if>
		<if test="query != null and query.updateTimeMin == null and query.updateTimeMax != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin} and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.isActive != null">
			and is_active = #{query.isActive}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax == null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin}
		</if>
		<if test="query != null and query.isActiveMin == null and query.isActiveMax != null">
			and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax != null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin} and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="goodsSkuDO">
        select
        <include refid="select_columns"/>
        from t_goods_sku where id = #{id}
    </select>

    <select id="getVersionById" parameterType="long" resultType="integer">
        select version from t_goods_sku where id = #{id}
    </select>

    <select id="listAll" resultType="goodsSkuDO">
        select
        <include refid="select_columns"/>
        from t_goods_sku
        order by update_time desc, create_time desc
    </select>

    <select id="listAllByCondition" resultType="goodsSkuDO">
        select
        <include refid="select_columns"/>
        from t_goods_sku
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
             ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
    </select>

    <select id="listPageByCondition" resultType="goodsSkuDO">
        select
        <include refid="select_columns"/>
        from t_goods_sku
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_goods_sku
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
