<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.NoticeDAO">

    <insert id="save" parameterType="noticeDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
        insert into t_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">
				title,
			</if>
			<if test="summary != null">
				summary,
			</if>
			<if test="content != null">
				content,
			</if>
			<if test="endTime != null">
				end_time,
			</if>
			<if test="stickStatus != null">
				stick_status,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">
				#{title},
			</if>
			<if test="summary != null">
				#{summary},
			</if>
			<if test="content != null">
				#{content},
			</if>
			<if test="endTime != null">
				#{endTime},
			</if>
			<if test="stickStatus != null">
				#{stickStatus},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="isActive != null">
				#{isActive},
			</if>
			
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
    	<foreach collection="list" item="item" separator=";">
            insert into t_notice
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.title != null">
				title,
			</if>
			<if test="item.summary != null">
				summary,
			</if>
			<if test="item.content != null">
				content,
			</if>
			<if test="item.endTime != null">
				end_time,
			</if>
			<if test="item.stickStatus != null">
				stick_status,
			</if>
			<if test="item.version != null">
				version,
			</if>
			<if test="item.createTime != null">
				create_time,
			</if>
			<if test="item.updateTime != null">
				update_time,
			</if>
			<if test="item.isActive != null">
				is_active,
			</if>
			
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.title != null">
				#{item.title},
			</if>
			<if test="item.summary != null">
				#{item.summary},
			</if>
			<if test="item.content != null">
				#{item.content},
			</if>
			<if test="item.endTime != null">
				#{item.endTime},
			</if>
			<if test="item.stickStatus != null">
				#{item.stickStatus},
			</if>
			<if test="item.version != null">
				#{item.version},
			</if>
			<if test="item.createTime != null">
				#{item.createTime},
			</if>
			<if test="item.updateTime != null">
				#{item.updateTime},
			</if>
			<if test="item.isActive != null">
				#{item.isActive},
			</if>
			
            </trim>
        </foreach>
    </insert>

    <delete id="removeById" parameterType="long">
        delete from t_notice where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_notice where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="noticeDO">
        update t_notice
        <set>
            <if test="title != null">
				title = #{title},
			</if>
			<if test="summary != null">
				summary = #{summary},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="endTime != null">
				end_time = #{endTime},
			</if>
			<if test="stickStatus != null">
				stick_status = #{stickStatus},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id} and version + 1 <![CDATA[<=]]> #{version}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";">
            update t_notice
            <set>
                <if test="item.title != null">
				title = #{item.title},
			</if>
			<if test="item.summary != null">
				summary = #{item.summary},
			</if>
			<if test="item.content != null">
				content = #{item.content},
			</if>
			<if test="item.endTime != null">
				end_time = #{item.endTime},
			</if>
			<if test="item.stickStatus != null">
				stick_status = #{item.stickStatus},
			</if>
			<if test="item.version != null">
				version = #{item.version},
			</if>
			<if test="item.createTime != null">
				create_time = #{item.createTime},
			</if>
			<if test="item.updateTime != null">
				update_time = #{item.updateTime},
			</if>
			<if test="item.isActive != null">
				is_active = #{item.isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
                <if test="item.version == null">
                    version = version + 1,
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, title as title, summary as summary, content as content, end_time as endTime, stick_status as stickStatus, version as version, create_time as createTime, update_time as updateTime, is_active as isActive
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			and id = #{query.id}
		</if>
		<if test="query != null and query.idMin != null and query.idMax == null">
			and id <![CDATA[ >= ]]> #{query.idMin}
		</if>
		<if test="query != null and query.idMin == null and query.idMax != null">
			and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.idMin != null and query.idMax != null">
			and id <![CDATA[ >= ]]> #{query.idMin} and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.title != null and query.title != ''">
			and title like concat('%', #{query.title}, '%')
		</if>
		<if test="query != null and query.summary != null and query.summary != ''">
			and summary like concat('%', #{query.summary}, '%')
		</if>
		<if test="query != null and query.content != null and query.content != ''">
			and content like concat('%', #{query.content}, '%')
		</if>
		<if test="query != null and query.endTime != null">
			and end_time = #{query.endTime}
		</if>
		<if test="query != null and query.endTimeMin != null and query.endTimeMax == null">
			and end_time <![CDATA[ >= ]]> #{query.endTimeMin}
		</if>
		<if test="query != null and query.endTimeMin == null and query.endTimeMax != null">
			and end_time <![CDATA[ <= ]]> #{query.endTimeMax}
		</if>
		<if test="query != null and query.endTimeMin != null and query.endTimeMax != null">
			and end_time <![CDATA[ >= ]]> #{query.endTimeMin} and end_time <![CDATA[ <= ]]> #{query.endTimeMax}
		</if>
		<if test="query != null and query.stickStatus != null">
			and stick_status = #{query.stickStatus}
		</if>
		<if test="query != null and query.stickStatusMin != null and query.stickStatusMax == null">
			and stick_status <![CDATA[ >= ]]> #{query.stickStatusMin}
		</if>
		<if test="query != null and query.stickStatusMin == null and query.stickStatusMax != null">
			and stick_status <![CDATA[ <= ]]> #{query.stickStatusMax}
		</if>
		<if test="query != null and query.stickStatusMin != null and query.stickStatusMax != null">
			and stick_status <![CDATA[ >= ]]> #{query.stickStatusMin} and stick_status <![CDATA[ <= ]]> #{query.stickStatusMax}
		</if>
		<if test="query != null and query.version != null">
			and version = #{query.version}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax == null">
			and version <![CDATA[ >= ]]> #{query.versionMin}
		</if>
		<if test="query != null and query.versionMin == null and query.versionMax != null">
			and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax != null">
			and version <![CDATA[ >= ]]> #{query.versionMin} and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin}
		</if>
		<if test="query != null and query.createTimeMin == null and query.createTimeMax != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin} and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin}
		</if>
		<if test="query != null and query.updateTimeMin == null and query.updateTimeMax != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin} and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.isActive != null">
			and is_active = #{query.isActive}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax == null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin}
		</if>
		<if test="query != null and query.isActiveMin == null and query.isActiveMax != null">
			and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax != null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin} and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="noticeDO">
        select
        <include refid="select_columns"/>
        from t_notice where id = #{id}
    </select>

    <select id="getVersionById" parameterType="long" resultType="integer">
        select version from t_notice where id = #{id}
    </select>

    <select id="listAll" resultType="noticeDO">
        select
        <include refid="select_columns"/>
        from t_notice
        order by update_time desc, create_time desc
    </select>

	<select id="listAllByCondition" resultType="noticeDO">
		select
		<include refid="select_columns"/>
		from t_notice
		<where>
			<include refid="query_where_clause"/>
		</where>
		order by
		<if test="query.sortColumn != null and query.sortColumn != ''">
			${query.sortColumn} ${query.sortOrder}
		</if>
		<if test="query.sortColumn == null or query.sortColumn == ''">
			update_time desc, create_time desc
		</if>
	</select>

    <select id="listPageByCondition" resultType="noticeDO">
        select
        <include refid="select_columns"/>
        from t_notice
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_notice
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
