<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.RolePermissionDAO">

    <delete id="removeById" parameterType="long">
        delete from t_role_permission where role_id = #{id}
    </delete>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        <foreach collection="list" item="item" separator=";">
            insert into t_role_permission
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.roleId != null">
                    role_id,
                </if>
                <if test="item.permissionId != null">
                    permission_id,
                </if>

            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.roleId != null">
                    #{item.roleId},
                </if>
                <if test="item.permissionId != null">
                    #{item.permissionId},
                </if>

            </trim>
        </foreach>
    </insert>

    <delete id="removeAll">
        truncate table t_role_permission
    </delete>

    <select id="listRolesByPermissionId" parameterType="long" resultType="string">
        select t_role.title from t_role_permission, t_role
        where t_role.id = t_role_permission.role_id and t_role_permission.permission_id = #{permissionId}
        order by t_role.id
    </select>

</mapper>
