<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.SchedulerDAO">

    <insert id="save" parameterType="schedulerDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
        insert into t_scheduler
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
				name,
			</if>
			<if test="className != null">
				class_name,
			</if>
			<if test="cronExpression != null">
				cron_expression,
			</if>
			<if test="groupName != null">
				group_name,
			</if>
			<if test="triggerName != null">
				trigger_name,
			</if>
			<if test="triggerGroup != null">
				trigger_group,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="jobStatus != null">
				job_status,
			</if>
			<if test="jobStatusTime != null">
				job_status_time,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
				#{name},
			</if>
			<if test="className != null">
				#{className},
			</if>
			<if test="cronExpression != null">
				#{cronExpression},
			</if>
			<if test="groupName != null">
				#{groupName},
			</if>
			<if test="triggerName != null">
				#{triggerName},
			</if>
			<if test="triggerGroup != null">
				#{triggerGroup},
			</if>
			<if test="description != null">
				#{description},
			</if>
			<if test="jobStatus != null">
				#{jobStatus},
			</if>
			<if test="jobStatusTime != null">
				#{jobStatusTime},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="isActive != null">
				#{isActive},
			</if>
			
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
    	<foreach collection="list" item="item" separator=";">
            insert into t_scheduler
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.name != null">
				name,
			</if>
			<if test="item.className != null">
				class_name,
			</if>
			<if test="item.cronExpression != null">
				cron_expression,
			</if>
			<if test="item.groupName != null">
				group_name,
			</if>
			<if test="item.triggerName != null">
				trigger_name,
			</if>
			<if test="item.triggerGroup != null">
				trigger_group,
			</if>
			<if test="item.description != null">
				description,
			</if>
			<if test="item.jobStatus != null">
				job_status,
			</if>
			<if test="item.jobStatusTime != null">
				job_status_time,
			</if>
			<if test="item.version != null">
				version,
			</if>
			<if test="item.createTime != null">
				create_time,
			</if>
			<if test="item.updateTime != null">
				update_time,
			</if>
			<if test="item.isActive != null">
				is_active,
			</if>
			
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.name != null">
				#{item.name},
			</if>
			<if test="item.className != null">
				#{item.className},
			</if>
			<if test="item.cronExpression != null">
				#{item.cronExpression},
			</if>
			<if test="item.groupName != null">
				#{item.groupName},
			</if>
			<if test="item.triggerName != null">
				#{item.triggerName},
			</if>
			<if test="item.triggerGroup != null">
				#{item.triggerGroup},
			</if>
			<if test="item.description != null">
				#{item.description},
			</if>
			<if test="item.jobStatus != null">
				#{item.jobStatus},
			</if>
			<if test="item.jobStatusTime != null">
				#{item.jobStatusTime},
			</if>
			<if test="item.version != null">
				#{item.version},
			</if>
			<if test="item.createTime != null">
				#{item.createTime},
			</if>
			<if test="item.updateTime != null">
				#{item.updateTime},
			</if>
			<if test="item.isActive != null">
				#{item.isActive},
			</if>
			
            </trim>
        </foreach>
    </insert>

    <delete id="removeById" parameterType="long">
        delete from t_scheduler where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_scheduler where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="schedulerDO">
        update t_scheduler
        <set>
            <if test="name != null">
				name = #{name},
			</if>
			<if test="className != null">
				class_name = #{className},
			</if>
			<if test="cronExpression != null">
				cron_expression = #{cronExpression},
			</if>
			<if test="groupName != null">
				group_name = #{groupName},
			</if>
			<if test="triggerName != null">
				trigger_name = #{triggerName},
			</if>
			<if test="triggerGroup != null">
				trigger_group = #{triggerGroup},
			</if>
			<if test="description != null">
				description = #{description},
			</if>
			<if test="jobStatus != null">
				job_status = #{jobStatus},
			</if>
			<if test="jobStatusTime != null">
				job_status_time = #{jobStatusTime},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id} and version + 1 <![CDATA[<=]]> #{version}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";">
            update t_scheduler
            <set>
                <if test="item.name != null">
				name = #{item.name},
			</if>
			<if test="item.className != null">
				class_name = #{item.className},
			</if>
			<if test="item.cronExpression != null">
				cron_expression = #{item.cronExpression},
			</if>
			<if test="item.groupName != null">
				group_name = #{item.groupName},
			</if>
			<if test="item.triggerName != null">
				trigger_name = #{item.triggerName},
			</if>
			<if test="item.triggerGroup != null">
				trigger_group = #{item.triggerGroup},
			</if>
			<if test="item.description != null">
				description = #{item.description},
			</if>
			<if test="item.jobStatus != null">
				job_status = #{item.jobStatus},
			</if>
			<if test="item.jobStatusTime != null">
				job_status_time = #{item.jobStatusTime},
			</if>
			<if test="item.version != null">
				version = #{item.version},
			</if>
			<if test="item.createTime != null">
				create_time = #{item.createTime},
			</if>
			<if test="item.updateTime != null">
				update_time = #{item.updateTime},
			</if>
			<if test="item.isActive != null">
				is_active = #{item.isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
                <if test="item.version == null">
                    version = version + 1,
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, name as name, class_name as className, cron_expression as cronExpression, group_name as groupName, trigger_name as triggerName, trigger_group as triggerGroup, description as description, job_status as jobStatus, job_status_time as jobStatusTime, version as version, create_time as createTime, update_time as updateTime, is_active as isActive
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			and id = #{query.id}
		</if>
		<if test="query != null and query.idMin != null and query.idMax == null">
			and id <![CDATA[ >= ]]> #{query.idMin}
		</if>
		<if test="query != null and query.idMin == null and query.idMax != null">
			and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.idMin != null and query.idMax != null">
			and id <![CDATA[ >= ]]> #{query.idMin} and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.name != null and query.name != ''">
			and name like concat('%', #{query.name}, '%')
		</if>
		<if test="query != null and query.className != null and query.className != ''">
			and class_name like concat('%', #{query.className}, '%')
		</if>
		<if test="query != null and query.cronExpression != null and query.cronExpression != ''">
			and cron_expression like concat('%', #{query.cronExpression}, '%')
		</if>
		<if test="query != null and query.groupName != null and query.groupName != ''">
			and group_name like concat('%', #{query.groupName}, '%')
		</if>
		<if test="query != null and query.triggerName != null and query.triggerName != ''">
			and trigger_name like concat('%', #{query.triggerName}, '%')
		</if>
		<if test="query != null and query.triggerGroup != null and query.triggerGroup != ''">
			and trigger_group like concat('%', #{query.triggerGroup}, '%')
		</if>
		<if test="query != null and query.description != null and query.description != ''">
			and description like concat('%', #{query.description}, '%')
		</if>
		<if test="query != null and query.jobStatus != null">
			and job_status = #{query.jobStatus}
		</if>
		<if test="query != null and query.jobStatusMin != null and query.jobStatusMax == null">
			and job_status <![CDATA[ >= ]]> #{query.jobStatusMin}
		</if>
		<if test="query != null and query.jobStatusMin == null and query.jobStatusMax != null">
			and job_status <![CDATA[ <= ]]> #{query.jobStatusMax}
		</if>
		<if test="query != null and query.jobStatusMin != null and query.jobStatusMax != null">
			and job_status <![CDATA[ >= ]]> #{query.jobStatusMin} and job_status <![CDATA[ <= ]]> #{query.jobStatusMax}
		</if>
		<if test="query != null and query.jobStatusTime != null">
			and job_status_time = #{query.jobStatusTime}
		</if>
		<if test="query != null and query.jobStatusTimeMin != null and query.jobStatusTimeMax == null">
			and job_status_time <![CDATA[ >= ]]> #{query.jobStatusTimeMin}
		</if>
		<if test="query != null and query.jobStatusTimeMin == null and query.jobStatusTimeMax != null">
			and job_status_time <![CDATA[ <= ]]> #{query.jobStatusTimeMax}
		</if>
		<if test="query != null and query.jobStatusTimeMin != null and query.jobStatusTimeMax != null">
			and job_status_time <![CDATA[ >= ]]> #{query.jobStatusTimeMin} and job_status_time <![CDATA[ <= ]]> #{query.jobStatusTimeMax}
		</if>
		<if test="query != null and query.version != null">
			and version = #{query.version}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax == null">
			and version <![CDATA[ >= ]]> #{query.versionMin}
		</if>
		<if test="query != null and query.versionMin == null and query.versionMax != null">
			and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax != null">
			and version <![CDATA[ >= ]]> #{query.versionMin} and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin}
		</if>
		<if test="query != null and query.createTimeMin == null and query.createTimeMax != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin} and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin}
		</if>
		<if test="query != null and query.updateTimeMin == null and query.updateTimeMax != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin} and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.isActive != null">
			and is_active = #{query.isActive}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax == null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin}
		</if>
		<if test="query != null and query.isActiveMin == null and query.isActiveMax != null">
			and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax != null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin} and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="schedulerDO">
        select
        <include refid="select_columns"/>
        from t_scheduler where id = #{id}
    </select>

    <select id="getVersionById" parameterType="long" resultType="integer">
        select version from t_scheduler where id = #{id}
    </select>

    <select id="listAll" resultType="schedulerDO">
        select
        <include refid="select_columns"/>
        from t_scheduler
        order by update_time desc, create_time desc
    </select>

	<select id="listAllByCondition" resultType="schedulerDO">
		select
		<include refid="select_columns"/>
		from t_scheduler
		<where>
			<include refid="query_where_clause"/>
		</where>
		order by
		<if test="query.sortColumn != null and query.sortColumn != ''">
			${query.sortColumn} ${query.sortOrder}
		</if>
		<if test="query.sortColumn == null or query.sortColumn == ''">
			update_time desc, create_time desc
		</if>
	</select>

    <select id="listPageByCondition" resultType="schedulerDO">
        select
        <include refid="select_columns"/>
        from t_scheduler
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_scheduler
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
