<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.UserRegDAO">

    <insert id="saveUser" parameterType="userRegDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user(email, password) values (#{email}, #{password})
    </insert>

    <insert id="saveUserMobile" parameterType="userRegDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user(phone, password) values (#{phone}, #{password})
    </insert>

    <insert id="saveWeixinUser" parameterType="UserRegDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_user(password) values (#{password})
    </insert>

    <insert id="saveWeixinUserDetail">
        insert into t_user_detail(id, nickname, headicon, gender, share_code) values (#{userId}, #{nickname}, #{headicon}, #{gender}, #{shareCode})
    </insert>

    <insert id="saveWeixinUserSocial">
        insert into t_user_social(user_id, openid, union_id, access_token, session_key, social_type)
        values (#{userId}, #{openid}, #{unionId}, #{accessToken}, #{sessionKey}, #{socialType})
    </insert>

    <update id="updateWeixinUserDetail">
        update t_user_detail set nickname = #{nickname}, headicon = #{headicon}, gender = #{gender}
        where id = (select user_id from t_user_social where openid = #{openid})
    </update>

    <update id="updateWeixinUserSocial">
        update t_user_social
        <set>
            <if test="accessToken != null and accessToken != ''" >
                access_token = #{accessToken},
            </if>
            <if test="sessionKey != null and sessionKey != ''" >
                session_key = #{sessionKey},
            </if>
        </set>
        where openid = #{openid}
    </update>

    <select id="getSessionKeyByOpenid" parameterType="string" resultType="string">
        select session_key from t_user_social where openid = #{openid}
    </select>

    <update id="updateUserPhone">
        update t_user set phone = #{phone} where id = (select user_id from t_user_social where openid = #{openid})
    </update>

    <insert id="saveShareCode">
        insert into t_user_detail(id, share_code) values (#{userId}, #{shareCode})
    </insert>

    <select id="getUserIdByShareCode" parameterType="string" resultType="long">
        select t_user_detail.id from t_user_detail where t_user_detail.share_code = #{shareCode}
    </select>

    <insert id="saveUserWallet" parameterType="long">
        insert into t_user_wallet (id) values (#{userId})
    </insert>

</mapper>
