<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.UserDetailDAO">

    <insert id="save" parameterType="userDetailDO">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
        insert into t_user_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
				nickname,
			</if>
			<if test="headicon != null">
				headicon,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="qqQrcode != null">
				qq_qrcode,
			</if>
			<if test="wechat != null">
				wechat,
			</if>
			<if test="wechatQrcode != null">
				wechat_qrcode,
			</if>
			<if test="alipay != null">
				alipay,
			</if>
			<if test="alipayQrcode != null">
				alipay_qrcode,
			</if>
			<if test="shareCode != null">
				share_code,
			</if>
			<if test="version != null">
				version,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isActive != null">
				is_active,
			</if>
			
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nickname != null">
				#{nickname},
			</if>
			<if test="headicon != null">
				#{headicon},
			</if>
			<if test="gender != null">
				#{gender},
			</if>
			<if test="birthday != null">
				#{birthday},
			</if>
			<if test="age != null">
				#{age},
			</if>
			<if test="qq != null">
				#{qq},
			</if>
			<if test="qqQrcode != null">
				#{qqQrcode},
			</if>
			<if test="wechat != null">
				#{wechat},
			</if>
			<if test="wechatQrcode != null">
				#{wechatQrcode},
			</if>
			<if test="alipay != null">
				#{alipay},
			</if>
			<if test="alipayQrcode != null">
				#{alipayQrcode},
			</if>
			<if test="shareCode != null">
				#{shareCode},
			</if>
			<if test="version != null">
				#{version},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="updateTime != null">
				#{updateTime},
			</if>
			<if test="isActive != null">
				#{isActive},
			</if>
			
        </trim>
    </insert>

    <insert id="saveBatch" parameterType="java.util.List">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
    		SELECT LAST_INSERT_ID()
    	</selectKey>
    	<foreach collection="list" item="item" separator=";">
            insert into t_user_detail
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="item.nickname != null">
				nickname,
			</if>
			<if test="item.headicon != null">
				headicon,
			</if>
			<if test="item.gender != null">
				gender,
			</if>
			<if test="item.birthday != null">
				birthday,
			</if>
			<if test="item.age != null">
				age,
			</if>
			<if test="item.qq != null">
				qq,
			</if>
			<if test="item.qqQrcode != null">
				qq_qrcode,
			</if>
			<if test="item.wechat != null">
				wechat,
			</if>
			<if test="item.wechatQrcode != null">
				wechat_qrcode,
			</if>
			<if test="item.alipay != null">
				alipay,
			</if>
			<if test="item.alipayQrcode != null">
				alipay_qrcode,
			</if>
			<if test="item.shareCode != null">
				share_code,
			</if>
			<if test="item.version != null">
				version,
			</if>
			<if test="item.createTime != null">
				create_time,
			</if>
			<if test="item.updateTime != null">
				update_time,
			</if>
			<if test="item.isActive != null">
				is_active,
			</if>
			
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="item.nickname != null">
				#{item.nickname},
			</if>
			<if test="item.headicon != null">
				#{item.headicon},
			</if>
			<if test="item.gender != null">
				#{item.gender},
			</if>
			<if test="item.birthday != null">
				#{item.birthday},
			</if>
			<if test="item.age != null">
				#{item.age},
			</if>
			<if test="item.qq != null">
				#{item.qq},
			</if>
			<if test="item.qqQrcode != null">
				#{item.qqQrcode},
			</if>
			<if test="item.wechat != null">
				#{item.wechat},
			</if>
			<if test="item.wechatQrcode != null">
				#{item.wechatQrcode},
			</if>
			<if test="item.alipay != null">
				#{item.alipay},
			</if>
			<if test="item.alipayQrcode != null">
				#{item.alipayQrcode},
			</if>
			<if test="item.shareCode != null">
				#{item.shareCode},
			</if>
			<if test="item.version != null">
				#{item.version},
			</if>
			<if test="item.createTime != null">
				#{item.createTime},
			</if>
			<if test="item.updateTime != null">
				#{item.updateTime},
			</if>
			<if test="item.isActive != null">
				#{item.isActive},
			</if>
			
            </trim>
        </foreach>
    </insert>

    <delete id="removeById" parameterType="long">
        delete from t_user_detail where id = #{id}
    </delete>

    <delete id="removeByIds">
        delete from t_user_detail where id in
        <foreach item="id" collection="array" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="userDetailDO">
        update t_user_detail
        <set>
            <if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="headicon != null">
				headicon = #{headicon},
			</if>
			<if test="gender != null">
				gender = #{gender},
			</if>
			<if test="birthday != null">
				birthday = #{birthday},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
			<if test="qq != null">
				qq = #{qq},
			</if>
			<if test="qqQrcode != null">
				qq_qrcode = #{qqQrcode},
			</if>
			<if test="wechat != null">
				wechat = #{wechat},
			</if>
			<if test="wechatQrcode != null">
				wechat_qrcode = #{wechatQrcode},
			</if>
			<if test="alipay != null">
				alipay = #{alipay},
			</if>
			<if test="alipayQrcode != null">
				alipay_qrcode = #{alipayQrcode},
			</if>
			<if test="shareCode != null">
				share_code = #{shareCode},
			</if>
			<if test="version != null">
				version = #{version},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="isActive != null">
				is_active = #{isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
        </set>
        where id = #{id} and version + 1 <![CDATA[<=]]> #{version}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
    	<foreach collection="list" item="item" separator=";">
            update t_user_detail
            <set>
                <if test="item.nickname != null">
				nickname = #{item.nickname},
			</if>
			<if test="item.headicon != null">
				headicon = #{item.headicon},
			</if>
			<if test="item.gender != null">
				gender = #{item.gender},
			</if>
			<if test="item.birthday != null">
				birthday = #{item.birthday},
			</if>
			<if test="item.age != null">
				age = #{item.age},
			</if>
			<if test="item.qq != null">
				qq = #{item.qq},
			</if>
			<if test="item.qqQrcode != null">
				qq_qrcode = #{item.qqQrcode},
			</if>
			<if test="item.wechat != null">
				wechat = #{item.wechat},
			</if>
			<if test="item.wechatQrcode != null">
				wechat_qrcode = #{item.wechatQrcode},
			</if>
			<if test="item.alipay != null">
				alipay = #{item.alipay},
			</if>
			<if test="item.alipayQrcode != null">
				alipay_qrcode = #{item.alipayQrcode},
			</if>
			<if test="item.shareCode != null">
				share_code = #{item.shareCode},
			</if>
			<if test="item.version != null">
				version = #{item.version},
			</if>
			<if test="item.createTime != null">
				create_time = #{item.createTime},
			</if>
			<if test="item.updateTime != null">
				update_time = #{item.updateTime},
			</if>
			<if test="item.isActive != null">
				is_active = #{item.isActive},
			</if>
			update_time = CURRENT_TIMESTAMP,
                <if test="item.version == null">
                    version = version + 1,
                </if>
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <sql id="select_columns">
        id as id, nickname as nickname, headicon as headicon, gender as gender, birthday as birthday, age as age, qq as qq, qq_qrcode as qqQrcode, wechat as wechat, wechat_qrcode as wechatQrcode, alipay as alipay, alipay_qrcode as alipayQrcode, share_code as shareCode, version as version, create_time as createTime, update_time as updateTime, is_active as isActive
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.id != null">
			and id = #{query.id}
		</if>
		<if test="query != null and query.idMin != null and query.idMax == null">
			and id <![CDATA[ >= ]]> #{query.idMin}
		</if>
		<if test="query != null and query.idMin == null and query.idMax != null">
			and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.idMin != null and query.idMax != null">
			and id <![CDATA[ >= ]]> #{query.idMin} and id <![CDATA[ <= ]]> #{query.idMax}
		</if>
		<if test="query != null and query.nickname != null and query.nickname != ''">
			and nickname like concat('%', #{query.nickname}, '%')
		</if>
		<if test="query != null and query.headicon != null and query.headicon != ''">
			and headicon like concat('%', #{query.headicon}, '%')
		</if>
		<if test="query != null and query.gender != null">
			and gender = #{query.gender}
		</if>
		<if test="query != null and query.genderMin != null and query.genderMax == null">
			and gender <![CDATA[ >= ]]> #{query.genderMin}
		</if>
		<if test="query != null and query.genderMin == null and query.genderMax != null">
			and gender <![CDATA[ <= ]]> #{query.genderMax}
		</if>
		<if test="query != null and query.genderMin != null and query.genderMax != null">
			and gender <![CDATA[ >= ]]> #{query.genderMin} and gender <![CDATA[ <= ]]> #{query.genderMax}
		</if>
		<if test="query != null and query.birthday != null">
			and birthday = #{query.birthday}
		</if>
		<if test="query != null and query.birthdayMin != null and query.birthdayMax == null">
			and birthday <![CDATA[ >= ]]> #{query.birthdayMin}
		</if>
		<if test="query != null and query.birthdayMin == null and query.birthdayMax != null">
			and birthday <![CDATA[ <= ]]> #{query.birthdayMax}
		</if>
		<if test="query != null and query.birthdayMin != null and query.birthdayMax != null">
			and birthday <![CDATA[ >= ]]> #{query.birthdayMin} and birthday <![CDATA[ <= ]]> #{query.birthdayMax}
		</if>
		<if test="query != null and query.age != null">
			and age = #{query.age}
		</if>
		<if test="query != null and query.ageMin != null and query.ageMax == null">
			and age <![CDATA[ >= ]]> #{query.ageMin}
		</if>
		<if test="query != null and query.ageMin == null and query.ageMax != null">
			and age <![CDATA[ <= ]]> #{query.ageMax}
		</if>
		<if test="query != null and query.ageMin != null and query.ageMax != null">
			and age <![CDATA[ >= ]]> #{query.ageMin} and age <![CDATA[ <= ]]> #{query.ageMax}
		</if>
		<if test="query != null and query.qq != null and query.qq != ''">
			and qq like concat('%', #{query.qq}, '%')
		</if>
		<if test="query != null and query.qqQrcode != null and query.qqQrcode != ''">
			and qq_qrcode like concat('%', #{query.qqQrcode}, '%')
		</if>
		<if test="query != null and query.wechat != null and query.wechat != ''">
			and wechat like concat('%', #{query.wechat}, '%')
		</if>
		<if test="query != null and query.wechatQrcode != null and query.wechatQrcode != ''">
			and wechat_qrcode like concat('%', #{query.wechatQrcode}, '%')
		</if>
		<if test="query != null and query.alipay != null and query.alipay != ''">
			and alipay like concat('%', #{query.alipay}, '%')
		</if>
		<if test="query != null and query.alipayQrcode != null and query.alipayQrcode != ''">
			and alipay_qrcode like concat('%', #{query.alipayQrcode}, '%')
		</if>
		<if test="query != null and query.shareCode != null and query.shareCode != ''">
			and share_code like concat('%', #{query.shareCode}, '%')
		</if>
		<if test="query != null and query.version != null">
			and version = #{query.version}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax == null">
			and version <![CDATA[ >= ]]> #{query.versionMin}
		</if>
		<if test="query != null and query.versionMin == null and query.versionMax != null">
			and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.versionMin != null and query.versionMax != null">
			and version <![CDATA[ >= ]]> #{query.versionMin} and version <![CDATA[ <= ]]> #{query.versionMax}
		</if>
		<if test="query != null and query.createTime != null">
			and create_time = #{query.createTime}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax == null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin}
		</if>
		<if test="query != null and query.createTimeMin == null and query.createTimeMax != null">
			and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.createTimeMin != null and query.createTimeMax != null">
			and create_time <![CDATA[ >= ]]> #{query.createTimeMin} and create_time <![CDATA[ <= ]]> #{query.createTimeMax}
		</if>
		<if test="query != null and query.updateTime != null">
			and update_time = #{query.updateTime}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax == null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin}
		</if>
		<if test="query != null and query.updateTimeMin == null and query.updateTimeMax != null">
			and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.updateTimeMin != null and query.updateTimeMax != null">
			and update_time <![CDATA[ >= ]]> #{query.updateTimeMin} and update_time <![CDATA[ <= ]]> #{query.updateTimeMax}
		</if>
		<if test="query != null and query.isActive != null">
			and is_active = #{query.isActive}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax == null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin}
		</if>
		<if test="query != null and query.isActiveMin == null and query.isActiveMax != null">
			and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		<if test="query != null and query.isActiveMin != null and query.isActiveMax != null">
			and is_active <![CDATA[ >= ]]> #{query.isActiveMin} and is_active <![CDATA[ <= ]]> #{query.isActiveMax}
		</if>
		
    </sql>

    <select id="getById" parameterType="long" resultType="userDetailDO">
        select
        <include refid="select_columns"/>
        from t_user_detail where id = #{id}
    </select>

    <select id="getVersionById" parameterType="long" resultType="integer">
        select version from t_user_detail where id = #{id}
    </select>

    <select id="listAll" resultType="userDetailDO">
        select
        <include refid="select_columns"/>
        from t_user_detail
        order by update_time desc, create_time desc
    </select>

    <select id="listAllByCondition" resultType="userDetailDO">
        select
        <include refid="select_columns"/>
        from t_user_detail
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
             ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
    </select>

    <select id="listPageByCondition" resultType="userDetailDO">
        select
        <include refid="select_columns"/>
        from t_user_detail
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            update_time desc, create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_user_detail
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
