<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.UserWithdrawDAO">

    <insert id="saveWithdraw">
        insert into t_funds_withdraw(user_id, withdraw_no, amount, bankcard_id, withdraw_status) values(#{userId}, #{withdrawNo}, #{amount}, #{bankcardId}, 0)
    </insert>

    <update id="updateWithdrawCheck">
        update t_funds_withdraw
        <set>
            withdraw_status = #{withdrawStatus},
            <if test="description != null and description != ''">
                withdraw_description = #{description},
            </if>
            <!-- 如果未通过，由需要设置完成时间 -->
            <if test="withdrawStatus == 2">
                complete_time = CURRENT_TIMESTAMP,
            </if>
            checked_user_id = #{checkedUserId},
            checked_time = CURRENT_TIMESTAMP,
            update_time = CURRENT_TIMESTAMP,
        </set>
        where withdraw_no = #{withdrawNo} and withdraw_status = 0
    </update>

    <update id="updateWithdraw">
        update t_funds_withdraw set
        withdraw_status = #{withdrawStatus},
        complete_time = CURRENT_TIMESTAMP,
        update_time = CURRENT_TIMESTAMP
        where withdraw_no = #{withdrawNo} and withdraw_status = 1
    </update>

    <select id="getTotalUncompleteWithdraw" parameterType="long" resultType="long">
        select sum(amount) from t_funds_withdraw where id = #{userId} and complete_time is null
    </select>

    <select id="getByWithdrawNo" parameterType="string" resultType="userWithdrawDO">
        select user_id, amount, withdraw_status from t_funds_withdraw where withdraw_no = #{withdrawNo}
    </select>

    <update id="updateWallet">
        update t_user_wallet set
        rmb_balance = rmb_balance - #{amount},
        usable_rmb_balance = usable_rmb_balance - #{amount},
        update_time = CURRENT_TIMESTAMP
        where id = #{userId}
    </update>

</mapper>
