<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.UserBankcardDAO">

    <select id="getByCardNo" parameterType="string" resultType="userBankcardDO">
        select t_user_bankcard.id, t_user_bankcard.user_id from t_user_bankcard where bankcard_no = #{bankcardNo}
    </select>

</mapper>
