<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.UserUserDetailDAO">

    <sql id="select_columns">
        t_user.id as userId, t_user.phone as userPhone, t_user.email as userEmail, t_user.create_time as userCreateTime, t_user_detail.nickname as userDetailNickname, t_user_detail.headicon as userDetailHeadicon, t_user_detail.gender as userDetailGender, t_user_detail.birthday as userDetailBirthday, t_user_detail.age as userDetailAge, t_user_detail.qq as userDetailQq, t_user_detail.qq_qrcode as userDetailQqQrcode, t_user_detail.wechat as userDetailWechat, t_user_detail.wechat_qrcode as userDetailWechatQrcode, t_user_detail.alipay as userDetailAlipay, t_user_detail.alipay_qrcode as userDetailAlipayQrcode, t_user_detail.share_code as userDetailShareCode, t_user_detail.version as userDetailVersion
    </sql>

    <sql id="query_where_clause">
        <if test="query != null and query.userId != null">
			and t_user.id = #{query.userId}
		</if>
		<if test="query != null and query.userIdMin != null and query.userIdMax == null">
			and t_user.id <![CDATA[ >= ]]> #{query.userIdMin}
		</if>
		<if test="query != null and query.userIdMin == null and query.userIdMax != null">
			and t_user.id <![CDATA[ <= ]]> #{query.userIdMax}
		</if>
		<if test="query != null and query.userIdMin != null and query.userIdMax != null">
			and t_user.id <![CDATA[ >= ]]> #{query.userIdMin} and t_user.id <![CDATA[ <= ]]> #{query.userIdMax}
		</if>
		<if test="query != null and query.userPhone != null and query.userPhone != ''">
			and t_user.phone like concat('%', #{query.userPhone}, '%')
		</if>
		<if test="query != null and query.userEmail != null and query.userEmail != ''">
			and t_user.email like concat('%', #{query.userEmail}, '%')
		</if>
		<if test="query != null and query.userCreateTime != null">
			and t_user.create_time = #{query.userCreateTime}
		</if>
		<if test="query != null and query.userCreateTimeMin != null and query.userCreateTimeMax == null">
			and t_user.create_time <![CDATA[ >= ]]> #{query.userCreateTimeMin}
		</if>
		<if test="query != null and query.userCreateTimeMin == null and query.userCreateTimeMax != null">
			and t_user.create_time <![CDATA[ <= ]]> #{query.userCreateTimeMax}
		</if>
		<if test="query != null and query.userCreateTimeMin != null and query.userCreateTimeMax != null">
			and t_user.create_time <![CDATA[ >= ]]> #{query.userCreateTimeMin} and t_user.create_time <![CDATA[ <= ]]> #{query.userCreateTimeMax}
		</if>
		<if test="query != null and query.userDetailNickname != null and query.userDetailNickname != ''">
			and t_user_detail.nickname like concat('%', #{query.userDetailNickname}, '%')
		</if>
		<if test="query != null and query.userDetailHeadicon != null and query.userDetailHeadicon != ''">
			and t_user_detail.headicon like concat('%', #{query.userDetailHeadicon}, '%')
		</if>
		<if test="query != null and query.userDetailGender != null">
			and t_user_detail.gender = #{query.userDetailGender}
		</if>
		<if test="query != null and query.userDetailGenderMin != null and query.userDetailGenderMax == null">
			and t_user_detail.gender <![CDATA[ >= ]]> #{query.userDetailGenderMin}
		</if>
		<if test="query != null and query.userDetailGenderMin == null and query.userDetailGenderMax != null">
			and t_user_detail.gender <![CDATA[ <= ]]> #{query.userDetailGenderMax}
		</if>
		<if test="query != null and query.userDetailGenderMin != null and query.userDetailGenderMax != null">
			and t_user_detail.gender <![CDATA[ >= ]]> #{query.userDetailGenderMin} and t_user_detail.gender <![CDATA[ <= ]]> #{query.userDetailGenderMax}
		</if>
		<if test="query != null and query.userDetailBirthday != null">
			and t_user_detail.birthday = #{query.userDetailBirthday}
		</if>
		<if test="query != null and query.userDetailBirthdayMin != null and query.userDetailBirthdayMax == null">
			and t_user_detail.birthday <![CDATA[ >= ]]> #{query.userDetailBirthdayMin}
		</if>
		<if test="query != null and query.userDetailBirthdayMin == null and query.userDetailBirthdayMax != null">
			and t_user_detail.birthday <![CDATA[ <= ]]> #{query.userDetailBirthdayMax}
		</if>
		<if test="query != null and query.userDetailBirthdayMin != null and query.userDetailBirthdayMax != null">
			and t_user_detail.birthday <![CDATA[ >= ]]> #{query.userDetailBirthdayMin} and t_user_detail.birthday <![CDATA[ <= ]]> #{query.userDetailBirthdayMax}
		</if>
		<if test="query != null and query.userDetailAge != null">
			and t_user_detail.age = #{query.userDetailAge}
		</if>
		<if test="query != null and query.userDetailAgeMin != null and query.userDetailAgeMax == null">
			and t_user_detail.age <![CDATA[ >= ]]> #{query.userDetailAgeMin}
		</if>
		<if test="query != null and query.userDetailAgeMin == null and query.userDetailAgeMax != null">
			and t_user_detail.age <![CDATA[ <= ]]> #{query.userDetailAgeMax}
		</if>
		<if test="query != null and query.userDetailAgeMin != null and query.userDetailAgeMax != null">
			and t_user_detail.age <![CDATA[ >= ]]> #{query.userDetailAgeMin} and t_user_detail.age <![CDATA[ <= ]]> #{query.userDetailAgeMax}
		</if>
		<if test="query != null and query.userDetailQq != null and query.userDetailQq != ''">
			and t_user_detail.qq like concat('%', #{query.userDetailQq}, '%')
		</if>
		<if test="query != null and query.userDetailQqQrcode != null and query.userDetailQqQrcode != ''">
			and t_user_detail.qq_qrcode like concat('%', #{query.userDetailQqQrcode}, '%')
		</if>
		<if test="query != null and query.userDetailWechat != null and query.userDetailWechat != ''">
			and t_user_detail.wechat like concat('%', #{query.userDetailWechat}, '%')
		</if>
		<if test="query != null and query.userDetailWechatQrcode != null and query.userDetailWechatQrcode != ''">
			and t_user_detail.wechat_qrcode like concat('%', #{query.userDetailWechatQrcode}, '%')
		</if>
		<if test="query != null and query.userDetailAlipay != null and query.userDetailAlipay != ''">
			and t_user_detail.alipay like concat('%', #{query.userDetailAlipay}, '%')
		</if>
		<if test="query != null and query.userDetailAlipayQrcode != null and query.userDetailAlipayQrcode != ''">
			and t_user_detail.alipay_qrcode like concat('%', #{query.userDetailAlipayQrcode}, '%')
		</if>
		<if test="query != null and query.userDetailShareCode != null and query.userDetailShareCode != ''">
			and t_user_detail.share_code like concat('%', #{query.userDetailShareCode}, '%')
		</if>
		<if test="query != null and query.userDetailVersion != null">
			and t_user_detail.version = #{query.userDetailVersion}
		</if>
		<if test="query != null and query.userDetailVersionMin != null and query.userDetailVersionMax == null">
			and t_user_detail.version <![CDATA[ >= ]]> #{query.userDetailVersionMin}
		</if>
		<if test="query != null and query.userDetailVersionMin == null and query.userDetailVersionMax != null">
			and t_user_detail.version <![CDATA[ <= ]]> #{query.userDetailVersionMax}
		</if>
		<if test="query != null and query.userDetailVersionMin != null and query.userDetailVersionMax != null">
			and t_user_detail.version <![CDATA[ >= ]]> #{query.userDetailVersionMin} and t_user_detail.version <![CDATA[ <= ]]> #{query.userDetailVersionMax}
		</if>
		
        and
        t_user.id = t_user_detail.id
    </sql>

    <select id="listById" parameterType="long" resultType="userUserDetailDO">
        select
        <include refid="select_columns"/>
        from t_user, t_user_detail where t_user.id = #{id} and
        t_user.id = t_user_detail.id
    </select>

    <select id="listAll" resultType="userUserDetailDO">
        select
        <include refid="select_columns"/>
        from t_user, t_user_detail
        where
        t_user.id = t_user_detail.id
        order by t_user.update_time desc, t_user.create_time desc
    </select>

	<select id="listAllByCondition" resultType="userUserDetailDO">
		select
		<include refid="select_columns"/>
		from t_user, t_user_detail
		<where>
			<include refid="query_where_clause"/>
		</where>
		order by
		<if test="query.sortColumn != null and query.sortColumn != ''">
			${query.sortColumn} ${query.sortOrder}
		</if>
		<if test="query.sortColumn == null or query.sortColumn == ''">
			t_user.update_time desc, t_user.create_time desc
		</if>
	</select>

    <select id="listPageByCondition" resultType="userUserDetailDO">
        select
        <include refid="select_columns"/>
        from t_user, t_user_detail
        <where>
            <include refid="query_where_clause"/>
        </where>
        order by
        <if test="query.sortColumn != null and query.sortColumn != ''">
            ${query.sortColumn} ${query.sortOrder}
        </if>
        <if test="query.sortColumn == null or query.sortColumn == ''">
            t_user.update_time desc, t_user.create_time desc
        </if>
        limit #{query.beginIndex}, #{query.pageSize}
    </select>

    <select id="countByCondition" resultType="long">
        select count(*) from t_user, t_user_detail
        <where>
            <include refid="query_where_clause"/>
        </where>
    </select>

</mapper>
