<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.zywork.dao.UserPasswordDAO">

    <update id="resetLoginPwdByEmail">
        update t_user set password = #{password} where email = #{email}
    </update>

    <update id="resetLoginPwdByPhone">
        update t_user set password = #{password} where phone = #{phone}
    </update>

    <update id="updateLoginPwd">
        update t_user set password = #{password} where id = #{userId}
    </update>

    <select id="getLoginPwd" parameterType="long" resultType="string">
        select t_user.password from t_user where t_user.id = #{userId}
    </select>

    <update id="resetPayPwdByEmail">
        update t_user_wallet set pay_password = #{password}
        where id = (select id from t_user where t_user.email = #{email})
    </update>

    <update id="resetPayPwdByPhone">
        update t_user_wallet set pay_password = #{password}
        where id = (select id from t_user where t_user.phone = #{phone})
    </update>

    <update id="updatePayPwd">
        update t_user_wallet set pay_password = #{password} where id = #{userId}
    </update>

    <select id="getPayPwd" parameterType="long" resultType="string">
        select t_user_wallet.pay_password from t_user_wallet where t_user_wallet.id = #{userId}
    </select>

</mapper>
